@import "../variables";
@import "~bulma";
@import "~bulma-extensions";

.bg-light-green {
  background-color: $light-green;
}

.bg-white-green {
  background-color: $white-green;
}

.bg-dark-green {
  background-color: $dark-green;
}

.bg-medium-green {
  background-color: $medium-green;
}

.bg-light-gray {
  background-color: $light-gray;
}


.bg-light-beige {
  background-color: $light-beige;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-light-blue {
  background-color: $light-blue;
}

.font-light {
  color: $light-gray !important;
}

.navbar-item {
  color: #FFFFFF;
}
a {
  color: $medium-green;
}

a:hover {
  color: $dark-green;
}
