@import "../variables";

header {
  font-size: 24px;

  nav {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    background-color: $dark-green !important;

    .navbar-brand {
      a.navbar-item {
        .logo {
          color: $light-beige;
          background-image: url(../developers-for-future-logo.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
        }

        .logo-title {
          margin-left: 16px;

        }

        &:hover {
          background-color: $light-beige;
        }

        @media screen and (min-width: 1088px) {
          .logo {
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (max-width: 1087px) {
          height: 3.25rem;
          .logo {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }

      .navbar-burger {
        color: $light-beige !important;

        &:hover {
          color: $light-beige !important
        }
      }
    }

    .navbar-menu {
      @media screen and (min-width: 1088px) {
        a.navbar-item {
          color: $light-beige;
          border: 0.2rem solid #FFFFFF;
          margin: 0.5rem;
          min-width: 6em;
          justify-content: center;
          padding: 0.25rem 2rem 0.1rem;
          font-weight: bold;
          &.navbar-selected {
            color: $dark-green !important;
            background: #FFFFFF;
            &:hover {
              color: $dark-green;
              background-color: #FFFFFF !important;
            }
          }

          &:hover {
            color: $light-beige;
            background-color: $medium-green !important;
          }
        }
      }
      @media screen and (max-width: 1087px) {
        a.navbar-item {
          color: $dark-green;

          &:hover {
            color: $dark-green;
            background-color: $light-beige !important;
          }
        }
      }
    }

    //a::after {
    //  height: 4px;
    //  background-color: $light-beige;
    //}
  }
}
