{% extends "base.html.twig" %}

{% block main %}
    <main class="container">
     <div class="row">
        <div class="col">
            {{ content.article|raw }}
        </div>
     </div>
    </main>
    
{% endblock %}
