{% extends 'base.html.twig' %}

{% block main %}
    <section class="container-fluid has-text-centered">
        <!--
        <div class="columns">
            <div class="column cta">
                Du bist nicht allein! Engagiere dich auch als Erwachsener in über
                <h1 class="ff-group-count"></h1>
                For-Future-Gruppen deutschlandweit
            </div>
        </div>
        -->
        <div class="columns bg-green">
            <div class="column cta">
                {{ content.intro|raw }}
            </div>
        </div>
        <div class="columns is-multiline org-icons" id="organisations">
            {% for organisation in content.logos %}
                <div class="column is-one-fifth-desktop is-one-third-tablet">
                    <figure class="image is-128x128{% if organisation.description is not empty %} tooltip is-tooltip-multiline{% endif %} is-inline-block"
                            {% if organisation.description is not empty %}data-tooltip="{{ organisation.description }}"{% endif %}>
                        <a href="{{ organisation.link|raw }}" target="_blank">
                            {% if organisation.logo is not empty %}
                            {% set image = sulu_resolve_media(organisation.logo, app.request.locale) %}
                                <img src="{{ image.formats['300x'] }}" title="{{ organisation.title }}"/>
                            {% else %}
                                <div class="default-image">
                                    <span class="default-image-title">{{ organisation.title }}</span>
                                </div>
                            {% endif %}
                        </a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
