<!DOCTYPE html>
<html class="no-js" >
<head>
 
    {% include 'includes/seo.html.twig' %}

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">

    <link rel="stylesheet" type="text/css" href="/build/website/base.css?v={{ version }}">
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.developersforfuture.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
<body data-gr-c-s-loaded="true">
<header>
    <nav class="navbar is-fixed-top not-scrolled">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarLinks">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbarLinks">
            <div class="navbar-start">
            <!--
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="#organisations">Gruppenliste</a>
                <a class="navbar-item" href="#signup">Anmeldung</a>
            -->
            </div>
        </div>
        <div class="navbar-content bg-green">
            <a href="/" title="Zurück zur Startseite"><h2>#AlleFürsKlima</h2></a>
        </div>
    </nav>
</header>

<main role="main" class="wrap">
    {% block main %}
    {% endblock %}
</main>
<footer>
    <div class="container">
        <div class="is-pulled-left">
            &copy; 2019 Together For Future
        </div>
        <div class="is-pulled-right legal-links">
            <a href="mailto:forfuture@developersforfuture.org">Kontakt</a>
            {% for item in sulu_navigation_root_tree('footer') %}
            {% set item_path=sulu_content_path(item.url) %}
                <a href="{{ item_path }}" title="{{ item.title }}">{{ item.title }}</a>
			{% endfor %}
        </div>
    </div>
</footer>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
</body>
</html>
