@import "~animate.css";
@import "../variables";

main .page-home {
  .section01 {
    height: 100vh;
    position: relative;
    top: -52px;
    padding: 0;
    //background-image: url("https://labcode.de/imgs/background-sky.jpg");
    background-color: $medium-green;
    width: 100%;
    .section01-imageWrapper {
      height: 100%;
      display: table;
      width: 100%;
      .section01-imageAlignHelper {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        img {
          display: flex;
          width: 50vh;
          margin: auto;
        }
        .join-us {
          text-align: center;
          color: $light-gray;
        }
      }
    }
    .section01-scroll-down-icon {
      text-align: center;
      position: relative;
      bottom: 50px;

      i {
        @extend .animated, .bounce, .infinite, .delay-1s;
        font-size: 1.75rem;
        color: $light-gray;
      }
    }
  }
}

* {
  box-sizing: border-box;;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  font-family: Muli, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $black;
}

header {
  border-bottom: 2px solid $dark-green;
}

header h1 {
  margin-left: 2em;
  line-height: 2;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

article {
  max-width: 35em;

}

footer {
  height: 20vh;
  background: $dark-green;
  color: $light-beige;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 3em;
}

figure {
  width: 120px;
  height: 120px;
}

img {
  width: 100%;
  transition: all ease 1s;
}

figure img:hover {
  width: 120%;
  filter: brightness(1.2) drop-shadow(5px 13px 7px grey);
  transition: all ease 1.5s;
}

.teaser-image {
  max-height: 40vh;
  object-fit: cover;
}

.wrap{
  height: 100vh;
  width: 100%;
  padding-top: 10%;
}

.ff-group-count {
  font-weight: bolder;
  font-size: 6rem;
  color: $dark-green;
  margin: 1rem;
}

.cta {
  padding: 0;
  margin: 1rem 5rem;
}

.org-icons {
  margin: 0 5rem;
}

.default-image {
  background-color: $medium-green;
  position: relative;
  width: 100%;
  height: 100%;
  .default-image-title {
    color: lightgrey;
    font-size: smaller;
  }
}
